@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap');


:root {
	--back: rgb(75, 95, 184);
  --back2: rgba(69, 105, 223, 0.5);
  --foredark: rgb(26, 26, 26);
	--forelight: hsla(0,0%,100%,1);
	--border: hsl(0,0%,20%);
	--borderlight: rgb(96, 112, 185);
	--shadow: rgb(179, 175, 236);
	--zebra: rgb(203, 212, 236);
}

table {
	margin: 10px auto;
	border: thin solid var(--border);
	box-shadow: 0 0 30px var(--shadow);
	border-collapse: collapse;
}

tr:first-child th {
	background-color: var(--back);
	color: var(--forelight);
}

th, td {
	padding: 7px 15px;
	border: 2px solid var(--borderlight);
}

th {
	background-color: var(--back2);
}

td {
	text-align: center;
}

tbody tr:nth-child(even) {
	background-color: var(--zebra);
}

.body{
	font-family: 'Ubuntu', sans-serif;
}